
<div class="top d-flex align-items-center px-4 py-3">
  <img src="assets/icone/human_icon.png">
  <h4 class="text-white mx-3">Humandeck</h4>
</div>
<div class="bottom w-100">
  <div class="box_item  d-flex align-items-center px-4 py-3">
    <img src="assets/icone/add_user.png">
    <a routerLink="/user/add">AddUser</a>
  </div>
  <div class="box_item  d-flex align-items-center px-4 py-3">
    <img src="assets/icone/edit.png">
    <a routerLink="/user/detail">EditUser</a>
  </div>
  <div class="box_item  d-flex align-items-center px-4 py-3">
    <img src="assets/icone/document_icon.png">
    <a routerLink="/user/list">Document</a>
  </div>
  <div class="box_item  d-flex align-items-center px-4 py-3">
    <img src="assets/icone/172548_settings_icon.png">
    <a href="#">Setting</a>
  </div>
</div>
