<div class="bottom  d-flex flex-column align-items-center bg-white">
  <div class="box-form w-50 pt-4">
    <form class="w-100  d-flex flex-column">
      <label class="mt-3">firstname</label>
      <input type="text" class="d-block p-2 rounded-2 mt-2">
      <label class="mt-3">lastname</label>
      <input type="text" class="d-block  p-2 rounded-2 mt-2">
      <label class="mt-3">age</label>
      <input type="text" class="d-block  p-2 rounded-2 mt-2">
      <label class="mt-3">gender</label>
      <input type="text" class="d-block  p-2 rounded-2 mt-2">
      <label class="mt-3">id</label>
      <input type="text" class="d-block  p-2 rounded-2 mt-2">
      <input type="submit" value="add" class="d-block w-25 p-2 rounded-2 mt-4 add bg-white">
    </form>
  </div>
</div>
