*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main>.menu{
  background-color:rgb(15, 20, 63);
  height: 100vh;
}
.main>.right{

}



